apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- namespace.yaml
- crd.yaml
- serviceaccount.yaml
- rbac.yaml
- configmap.yaml
- secret.yaml
- service.yaml
- deployment.yaml
