global:
  scrape_interval: 5s
  evaluation_interval: 5s
rule_files:
  # Record rules
  - /etc/prometheus/record_rules.yaml
  # Alert rules
  - /etc/prometheus/argocd.yaml
  - /etc/prometheus/cert-manager.yaml
  - /etc/prometheus/elastic-operator.yaml
  - /etc/prometheus/etcd.yaml
  - /etc/prometheus/external-dns.yaml
  - /etc/prometheus/ingress.yaml
  - /etc/prometheus/kube-state-metrics.yaml
  - /etc/prometheus/kubernetes.yaml
  - /etc/prometheus/metallb.yaml
  - /etc/prometheus/monitoring.yaml
  - /etc/prometheus/network-policy.yaml
  - /etc/prometheus/node.yaml
  - /etc/prometheus/sabakan.yaml
  - /etc/prometheus/neco-admission.yaml
  - /etc/prometheus/teleport.yaml
  - /etc/prometheus/topolvm.yaml
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - alertmanager:9093
scrape_configs:
  - job_name: "prometheus"
    kubernetes_sd_configs:
      - role: pod
        namespaces:
          names: ["monitoring"]
    relabel_configs:
      # Discovered Labels
      #   __meta_kubernetes_pod_label_app_kubernetes_io_name="prometheus"
      #   __address__="10.64.13.225:9090"
      # Expected Target Labels
      #   job="prometheus"
      #   instance="10.64.13.225"
      - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_name]
        action: keep
        regex: prometheus
      - source_labels: [__address__]
        action: replace
        regex: ([^:]+)(?::\d+)?
        replacement: ${1}
        target_label: instance
  - job_name: "alertmanager"
    kubernetes_sd_configs:
      - role: pod
        namespaces:
          names: ["monitoring"]
    relabel_configs:
      # Discovered Labels
      #   __meta_kubernetes_pod_label_app_kubernetes_io_name="alertmanager"
      #   __address__="10.64.11.130:9093"
      # Expected Target Labels
      #   job="alertmanager"
      #   instance="10.64.11.130"
      - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_name]
        action: keep
        regex: alertmanager
      - source_labels: [__address__]
        action: replace
        regex: ([^:]+)(?::\d+)?
        replacement: ${1}
        target_label: instance
  - job_name: 'kubernetes-apiservers'
    kubernetes_sd_configs:
    - role: endpoints
      namespaces:
        names: ["default"]
    scheme: https
    tls_config:
      ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
    bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
    relabel_configs:
    - source_labels: [__meta_kubernetes_service_name, __meta_kubernetes_endpoint_port_name]
      action: keep
      regex: kubernetes;https
    - source_labels: [__name__]
      action: drop
      regex: apiserver_request_duration_seconds.*
    - source_labels: [__name__]
      action: drop
      regex: apiserver_request_latencies.*
  - job_name: 'kube-controller-manager'
    kubernetes_sd_configs:
    - role: endpoints
      namespaces:
        names: ["default"]
    scheme: http
    relabel_configs:
    - source_labels: [__meta_kubernetes_service_name, __meta_kubernetes_endpoint_port_name]
      action: keep
      regex: kubernetes;https
    - source_labels: [__address__]
      action: replace
      regex: ([^:]+)(?::\d+)?
      replacement: ${1}:10252
      target_label: __address__
    - source_labels: [__address__]
      action: replace
      regex: ([^:]+)(?::\d+)?
      replacement: ${1}
      target_label: instance
  - job_name: 'kube-scheduler'
    kubernetes_sd_configs:
    - role: endpoints
      namespaces:
        names: ["default"]
    scheme: http
    relabel_configs:
    - source_labels: [__meta_kubernetes_service_name, __meta_kubernetes_endpoint_port_name]
      action: keep
      regex: kubernetes;https
    - source_labels: [__address__]
      action: replace
      regex: ([^:]+)(?::\d+)?
      replacement: ${1}:10251
      target_label: __address__
    - source_labels: [__address__]
      action: replace
      regex: ([^:]+)(?::\d+)?
      replacement: ${1}
      target_label: instance
  - job_name: 'kubernetes-nodes'
    scheme: https
    tls_config:
      ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
    bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
    kubernetes_sd_configs:
      - role: node
    relabel_configs:
      - action: labelmap
        regex: __meta_kubernetes_node_label_cke_cybozu_com_(.+)
        replacement: cke_${1}
      - action: labelmap
        regex: __meta_kubernetes_node_label_sabakan_cke_cybozu_com_(.+)
        replacement: sabakan_${1}
      - target_label: __address__
        replacement: kubernetes.default.svc:443
      - source_labels: [__meta_kubernetes_node_name]
        regex: (.+)
        target_label: __metrics_path__
        replacement: /api/v1/nodes/${1}/proxy/metrics
      - source_labels: [__name__]
        action: drop
        regex: kubelet_runtime_operations_duration_seconds.*
  - job_name: 'kubernetes-cadvisor'
    scheme: https
    tls_config:
      ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
    bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
    kubernetes_sd_configs:
      - role: node
    relabel_configs:
      - action: labelmap
        regex: __meta_kubernetes_node_label_(.+)
      - target_label: __address__
        replacement: kubernetes.default.svc:443
      - source_labels: [__meta_kubernetes_node_name]
        regex: (.+)
        target_label: __metrics_path__
        replacement: /api/v1/nodes/${1}/proxy/metrics/cadvisor
  - job_name: "kube-state-metrics"
    kubernetes_sd_configs:
      - role: service
        namespaces:
          names: ["kube-system"]
    relabel_configs:
      - action: keep
        source_labels: [__meta_kubernetes_service_name]
        regex: "kube-state-metrics"
      - source_labels: [__meta_kubernetes_service_port_name]
        action: keep
        regex: (http-metrics|telemetry)
  - job_name: 'node-exporter'
    kubernetes_sd_configs:
      - role: endpoints
        namespaces:
          names: ["monitoring"]
    relabel_configs:
      - action: keep
        source_labels: [__meta_kubernetes_endpoints_name]
        regex: prometheus-node-targets
      - source_labels: [__meta_kubernetes_namespace]
        action: replace
        target_label: kubernetes_namespace
      - source_labels: [__meta_kubernetes_service_name]
        action: replace
        target_label: kubernetes_name
      - source_labels: [__name__]
        action: drop
        regex: node_cpu_seconds_total
  - job_name: 'bootserver-etcd'
    kubernetes_sd_configs:
      - role: endpoints
        namespaces:
          names: ["monitoring"]
    relabel_configs:
      - action: keep
        source_labels: [__meta_kubernetes_endpoints_name]
        regex: bootserver-etcd-metrics
      - source_labels: [__meta_kubernetes_namespace]
        action: replace
        target_label: kubernetes_namespace
      - source_labels: [__meta_kubernetes_service_name]
        action: replace
        target_label: kubernetes_name
  - job_name: "metallb"
    kubernetes_sd_configs:
      - role: pod
        namespaces:
          names: ["metallb-system"]
    relabel_configs:
      - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
        action: replace
        regex: ([^:]+)(?::\d+)?;(\d+)
        replacement: ${1}:${2}
        target_label: __address__
      - source_labels: [__address__]
        action: replace
        regex: ([^:]+)(?::\d+)?
        replacement: ${1}
        target_label: instance
  - job_name: "argocd"
    kubernetes_sd_configs:
      - role: service
        namespaces:
          names: ["argocd"]
    relabel_configs:
      - source_labels: [__meta_kubernetes_service_name]
        action: keep
        regex: argocd-metrics
  - job_name: "cke-etcd"
    kubernetes_sd_configs:
      - role: endpoints
        namespaces:
          names: ["kube-system"]
    relabel_configs:
      # Discovered Labels
      #   __meta_kubernetes_endpoints_name="cke-etcd"
      #   __address__="10.69.1.149:2379"
      # Expected Target Labels
      #   job="cke-etcd"
      #   instance="10.69.1.149"
      #   __address__="10.69.1.149:2381"
      - source_labels: [__meta_kubernetes_endpoints_name]
        action: keep
        regex: cke-etcd
      - source_labels: [__address__]
        action: replace
        regex: ([^:]+)(?::\d+)?
        replacement: ${1}
        target_label: instance
      - source_labels: [__address__]
        action: replace
        regex: ([^:]+)(?::\d+)?
        replacement: ${1}:2381
        target_label: __address__
  - job_name: "calico-node"
    kubernetes_sd_configs:
      - role: pod
        namespaces:
          names: ["kube-system"]
    relabel_configs:
      # Discovered Labels
      #   __meta_kubernetes_pod_label_app_kubernetes_io_name="calico-node"
      #   __address__="10.69.0.6"
      # Expected Target Labels
      #   job="calico-node"
      #   instance="10.69.0.6"
      #   __address__="10.69.0.6:9091"
      - source_labels: [__meta_kubernetes_pod_label_k8s_app]
        action: keep
        regex: calico-node
      - source_labels: [__address__]
        action: replace
        regex: ([^:]+)(?::\d+)?
        replacement: ${1}
        target_label: instance
      - source_labels: [__address__]
        action: replace
        regex: ([^:]+)(?::\d+)?
        replacement: ${1}:9091
        target_label: __address__
  - job_name: "monitor-hw"
    kubernetes_sd_configs:
      - role: endpoints
        namespaces:
          names: ["monitoring"]
    relabel_configs:
      # Discovered Labels
      #   __address__="10.69.0.204:9100"
      # Expected Target Labels
      #   instance="10.69.0.204"
      #   __address__="10.69.0.204:9105"
      - source_labels: [__meta_kubernetes_endpoints_name]
        action: keep
        regex: prometheus-node-targets
      - source_labels: [__address__]
        action: replace
        regex: ([^:]+)(?::\d+)?
        replacement: ${1}
        target_label: instance
      - source_labels: [__address__]
        action: replace
        regex: ([^:]+)(?::\d+)?
        replacement: ${1}:9105
        target_label: __address__
  - job_name: "sabakan"
    kubernetes_sd_configs:
      - role: endpoints
        namespaces:
          names: ["monitoring"]
    relabel_configs:
      # Discovered Labels
      #   __address__="10.69.0.3:2381"
      # Expected Target Labels
      #   instance="10.69.0.3"
      #   __address__="10.69.0.3:10081"
      - source_labels: [__meta_kubernetes_endpoints_name]
        action: keep
        regex: bootserver-etcd-metrics
      - source_labels: [__address__]
        action: replace
        regex: ([^:]+)(?::\d+)?
        replacement: ${1}
        target_label: instance
      - source_labels: [__address__]
        action: replace
        regex: ([^:]+)(?::\d+)?
        replacement: ${1}:10081
        target_label: __address__
  - job_name: "contour"
    kubernetes_sd_configs:
      - role: endpoints
        namespaces:
          names: ["ingress-global", "ingress-forest", "ingress-bastion"]
    relabel_configs:
      - source_labels: [__meta_kubernetes_namespace]
        action: replace
        target_label: kubernetes_namespace
      - source_labels: [__meta_kubernetes_service_name]
        action: keep
        regex: contour-metrics
      - source_labels: [__meta_kubernetes_endpoint_port_name]
        action: keep
        regex: contour-metrics
      - source_labels: [__address__]
        action: replace
        regex: ([^:]+)(?::\d+)?
        replacement: ${1}
        target_label: instance
  - job_name: "contour-envoy"
    kubernetes_sd_configs:
      - role: pod
        namespaces:
          names: ["ingress-global", "ingress-forest", "ingress-bastion"]
    relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_name]
        action: keep
        regex: envoy
      - source_labels: [__meta_kubernetes_namespace]
        action: replace
        target_label: kubernetes_namespace
      # Discovered Labels
      #   __address__="10.64.17.66"
      #   __meta_kubernetes_pod_annotation_prometheus_io_path="/stats/prometheus"
      #   __meta_kubernetes_pod_annotation_prometheus_io_format="prometheus"
      # Expected Target Labels
      #   __address__="10.64.17.66:8002"
      #   instance="10.64.17.66"
      #    __metrics_path__="/stats/prometheus"
      #    __param_format="prometheus"
      - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
        action: replace
        regex: ([^:]+)(?::\d+)?;(\d+)
        replacement: ${1}:${2}
        target_label: __address__
      - source_labels: [__address__]
        action: keep
        target_label: instance
      - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
        target_label: __metrics_path__
      - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_format]
        target_label: __param_format
  - job_name: "external-dns"
    kubernetes_sd_configs:
      - role: service
        namespaces:
          names: ["external-dns"]
    relabel_configs:
      - source_labels: [__meta_kubernetes_service_name]
        action: keep
        regex: external-dns-metrics
  - job_name: "neco-admission"
    kubernetes_sd_configs:
      - role: pod
        namespaces:
          names: ["kube-system"]
    relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_name]
        action: keep
        regex: neco-admission
      - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
        action: replace
        regex: ([^:]+)(?::\d+)?;(\d+)
        replacement: ${1}:${2}
        target_label: __address__
      - source_labels: [__address__]
        action: replace
        regex: ([^:]+)(?::\d+)?
        replacement: ${1}
        target_label: instance
  - job_name: "teleport"
    kubernetes_sd_configs:
      - role: pod
        namespaces:
          names: ["teleport"]
    relabel_configs:
      # Discovered Labels
      #   __address__="10.64.15.33:3025"
      #   __meta_kubernetes_pod_label_app_kubernetes_io_name="teleport"
      #   __meta_kubernetes_pod_annotation_prometheus_io_port="3020"
      # Expected Target Labels
      #   __address__="10.64.15.33:3020"
      #   job="teleport"
      #   instance="10.64.15.33"
      - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
        action: replace
        regex: ([^:]+)(?::\d+)?;(\d+)
        replacement: ${1}:${2}
        target_label: __address__
      - source_labels: [__address__]
        action: replace
        regex: ([^:]+)(?::\d+)?
        replacement: ${1}
        target_label: instance
  - job_name: "topolvm"
    kubernetes_sd_configs:
      - role: pod
        namespaces:
          names: ["topolvm-system"]
    relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_name]
        action: keep
        regex: node
      - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
        action: replace
        regex: ([^:]+)(?::\d+)?;(\d+)
        replacement: ${1}:${2}
        target_label: __address__
      - source_labels: [__address__]
        action: replace
        regex: ([^:]+)(?::\d+)?
        replacement: ${1}
        target_label: instance
  - job_name: "elastic-operator"
    kubernetes_sd_configs:
      - role: pod
        namespaces:
          names: ["elastic-system"]
    relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_name]
        action: keep
        regex: elastic-operator
      - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
        action: replace
        regex: ([^:]+)(?::\d+)?;(\d+)
        replacement: ${1}:${2}
        target_label: __address__
      - source_labels: [__address__]
        action: replace
        regex: ([^:]+)(?::\d+)?
        replacement: ${1}
        target_label: instance
  - job_name: "cert-manager"
    kubernetes_sd_configs:
      - role: pod
        namespaces:
          names: ["cert-manager"]
    relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_name]
        action: keep
        regex: cert-manager$
      - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
        action: replace
        regex: ([^:]+)(?::\d+)?;(\d+)
        replacement: ${1}:${2}
        target_label: __address__
      - source_labels: [__address__]
        action: replace
        regex: ([^:]+)(?::\d+)?
        replacement: ${1}
        target_label: instance
  - job_name: "local-pv-provisioner"
    kubernetes_sd_configs:
      - role: pod
        namespaces:
          names: ["kube-system"]
    relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_name]
        action: keep
        regex: local-pv-provisioner$
      - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
        action: replace
        regex: ([^:]+)(?::\d+)?;(\d+)
        replacement: ${1}:${2}
        target_label: __address__
      - source_labels: [__address__]
        action: replace
        regex: ([^:]+)(?::\d+)?
        replacement: ${1}
        target_label: instance
