apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: server
    app.kubernetes.io/name: argocd-server-https
    app.kubernetes.io/part-of: argocd
  name: argocd-server-https
  namespace: argocd
  annotations:
    contour.heptio.com/upstream-protocol.tls: 443,https
spec:
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 8080
    - name: https
      port: 443
      protocol: TCP
      targetPort: 8080
  selector:
    app.kubernetes.io/name: argocd-server
  type: NodePort
