apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: grafana
  name: grafana
  namespace: monitoring
data:
  grafana.ini: |
    [analytics]
    check_for_updates = true
    [grafana_net]
    url = https://grafana.monitoring.svc.cluster.local
    [log]
    mode = console
    [paths]
    data = /var/lib/grafana/data
    logs = /var/log/grafana
    plugins = /var/lib/grafana/plugins
    provisioning = /etc/grafana/provisioning
    [users]
    viewers_can_edit = true
---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: grafana
  name: grafana-dash-provider
  namespace: monitoring
data:
  providers.yaml: |
    apiVersion: 1
    providers:
    - name: 'calico'
      folder: ''
      type: file
      disableDeletion: false
      editable: false
      options:
        path: /var/lib/grafana/dashboards/calico
    - name: 'cert-manager'
      folder: ''
      type: file
      disableDeletion: false
      editable: false
      options:
        path: /var/lib/grafana/dashboards/cert-manager
    - name: 'contour'
      folder: ''
      type: file
      disableDeletion: false
      editable: false
      options:
        path: /var/lib/grafana/dashboards/contour
    - name: 'etcd'
      folder: ''
      type: file
      disableDeletion: false
      editable: false
      options:
        path: /var/lib/grafana/dashboards/etcd
    - name: 'kube-apiserver'
      folder: 'Kubernetes'
      type: file
      disableDeletion: false
      editable: false
      options:
        path: /var/lib/grafana/dashboards/kube-apiserver
    - name: 'kube-controller-manager'
      folder: 'Kubernetes'
      type: file
      disableDeletion: false
      editable: false
      options:
        path: /var/lib/grafana/dashboards/kube-controller-manager
    - name: 'kube-scheduler'
      folder: 'Kubernetes'
      type: file
      disableDeletion: false
      editable: false
      options:
        path: /var/lib/grafana/dashboards/kube-scheduler
    - name: 'kubelet'
      folder: 'Kubernetes'
      type: file
      disableDeletion: false
      editable: false
      options:
        path: /var/lib/grafana/dashboards/kubelet
    - name: 'kubernetes-cluster'
      folder: 'Kubernetes'
      type: file
      disableDeletion: false
      editable: false
      options:
        path: /var/lib/grafana/dashboards/kubernetes-cluster
    - name: 'kubernetes-persistence-volumes'
      folder: 'Kubernetes'
      type: file
      disableDeletion: false
      editable: false
      options:
        path: /var/lib/grafana/dashboards/kubernetes-persistence-volumes
    - name: 'node-exporter'
      folder: ''
      type: file
      disableDeletion: false
      editable: false
      options:
        path: /var/lib/grafana/dashboards/node-exporter
    - name: 'memory-usage'
      folder: ''
      type: file
      disableDeletion: false
      editable: false
      options:
        path: /var/lib/grafana/dashboards/memory-usage
    - name: 'cpu-usage'
      folder: ''
      type: file
      disableDeletion: false
      editable: false
      options:
        path: /var/lib/grafana/dashboards/cpu-usage
    - name: 'topolvm-volumegroup'
      folder: ''
      type: file
      disableDeletion: false
      editable: false
      options:
        path: /var/lib/grafana/dashboards/topolvm-volumegroup
    - name: 'local-pv-provisioner'
      folder: ''
      type: file
      disableDeletion: false
      editable: false
      options:
        path: /var/lib/grafana/dashboards/local-pv-provisioner
    - name: 'sabakan'
      folder: ''
      type: file
      disableDeletion: false
      editable: false
      options:
        path: /var/lib/grafana/dashboards/sabakan
    - name: 'all-nodes'
      folder: ''
      type: file
      disableDeletion: false
      editable: false
      options:
        path: /var/lib/grafana/dashboards/all-nodes
    - name: 'neco-admission'
      folder: ''
      type: file
      disableDeletion: false
      editable: false
      options:
        path: /var/lib/grafana/dashboards/neco-admission

---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: grafana
  name: grafana-datasources-provider
  namespace: monitoring
data:
  providers.yaml: |
    apiVersion: 1
    datasources:
    - name: 'prometheus'
      type: prometheus
      access: proxy
      orgId: 1
      url: http://prometheus.monitoring.svc:9090
      isDefault: true
      editable: false
