apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
  - ../../base
patches:
  - prometheus/statefulset.yaml
configMapGenerator:
  - name: alertmanager
    behavior: merge
    files:
      - alertmanager/env.template
