apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ingress-forest
resources:
  - ../template
  - contour-config.yaml
patchesStrategicMerge:
  - rbac.yaml
  - deployment.yaml
  - rbac_contour-plus.yaml
  - certificate.yaml
