apiVersion: apps/v1
kind: Deployment
metadata:
  name: bmc-reverse-proxy
  labels:
    app.kubernetes.io/name: bmc-reverse-proxy
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: bmc-reverse-proxy
  replicas: 2
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: bmc-reverse-proxy
    spec:
      containers:
        - image: quay.io/cybozu/bmc-reverse-proxy:0.1.1
          name: bmc-reverse-proxy
          volumeMounts:
          - name: secret-fs
            mountPath: "/etc/bmc-reverse-proxy"
            readOnly: true
          ports:
          - name: web
            containerPort: 8443
            protocol: TCP
          - name: virtual-console
            containerPort: 5900
            protocol: TCP
      volumes:
        - name: secret-fs
          secret:
            secretName: bmc-reverse-proxy-tls
      serviceAccountName: bmc-reverse-proxy
