[client]
port            = 3306
socket          = /tmp/mysql.sock

[mysqld]
port            = 3306
socket          = /tmp/mysql.sock
datadir = '/var/lib/mysql'
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
skip-character-set-client-handshake
default_authentication_plugin = mysql_native_password

default-time-zone = +0:00

back_log = 900
skip-name-resolve
max_connections = 5000
max_connect_errors = 10
table_open_cache = 2048
max_allowed_packet = 1G
max_heap_table_size = 64M
sort_buffer_size = 4M
join_buffer_size = 2M
thread_cache_size = 100
wait_timeout = 604800 # 7days
lock_wait_timeout = 60

table_definition_cache = 65536

# event scheduler
event_scheduler = On

transaction-isolation = READ-COMMITTED
tmp_table_size = 64M
slow_query_log
long_query_time = 2
slow_query_log_file = '/var/log/mysql/mysql.slow'
log_error_verbosity = 3

max_sp_recursion_depth = 20

information_schema_stats_expiry = 0

# *** INNODB Specific options ***
innodb_tmpdir = '/var/tmp/mysql'
innodb_log_file_size = 100M
innodb_log_files_in_group = 3
innodb_lock_wait_timeout = 60
innodb_read_io_threads=16
innodb_write_io_threads=16
innodb_io_capacity=2000
innodb_flush_method = O_DIRECT
innodb_print_all_deadlocks = 1
innodb_online_alter_log_max_size = 1073741824
innodb_adaptive_hash_index = ON
# innodb_numa_interleave = ON
# evaluate this value. ref: https://dev.mysql.com/doc/refman/8.0/en/innodb-parameters.html
innodb_autoinc_lock_mode = 1

# This, if not a fundamental solution, mitigates deadlocks (long semaphore waits).
innodb_purge_threads=1

# It is rarely necessary to include a buffer pool in a core file.
innodb_buffer_pool_in_core_file = OFF

# mysql replication settinngs
# binlog
log_bin=mysql-bin
binlog_format=ROW
binlog_row_image=full
sync_binlog=1
# see: https://dev.mysql.com/doc/refman/8.0/en/group-replication-limitations.html
binlog_checksum=NONE

# privilege
log_bin_trust_function_creators=1

# For Group Replication
gtid_mode=ON
enforce_gtid_consistency=ON
log_slave_updates=ON
master_info_repository=TABLE
relay_log_info_repository=TABLE
transaction_write_set_extraction=XXHASH64
loose_group_replication_exit_state_action=READ_ONLY

loose_group_replication_transaction_size_limit=2147483647
loose_group_replication_member_expel_timeout=0
loose_group_replication_communication_max_message_size=10485760
loose_group_replication_communication_debug_options=GCS_DEBUG_BASIC

#loose_sql_require_primary_key = ON ### 8.0.13
#loose_partial_revokes = ON ### 8.0.16
#loose_log_slow_extra = ON ### From 8.0.14
#loose_innodb_buffer_pool_in_core_file = OFF ### From 8.0.14
#loose_print_identified_with_as_hex ### 8.0.17

#temptable_max_ram = 128M
binlog_expire_logs_seconds = 86400 ### 1day
mysqlx = OFF

super_read_only = ON
offline_mode = ON

[mysqldump]
quick
max_allowed_packet = 1G

[mysql]
no-auto-rehash
init_command="SET autocommit=0"

[myisamchk]
key_buffer_size = 128M
sort_buffer_size = 128M
read_buffer_size = 8M
write_buffer_size = 8M

[mysqld_safe]
open-files-limit = 8192
