apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - rbac.yaml
  - service.yaml
  - serviceaccount.yaml
  - statefulset.yaml
configMapGenerator:
  - name: teleport-role
    namespace: teleport
    files:
      - conf/admin-role.yaml
      - conf/neco-readonly-role.yaml
      - conf/maneki-role.yaml
